@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


html, body{
   color: rgb(54, 54, 54);
     font-family: 'Inter', sans-serif;
  font-size: 15px;
}



.ant-input {
  border: 1px solid #d9d9d9;
}

.ant-form {
  border-radius: 10px;
}

.ant-checkbox-input {
  width: 20px !important;
  height: 20px !important;
}

table {
  border: 1px solid #8d8d8d !important;
}

.slick-dots li button:before {
  font-size: 20px;
}

@media (max-width: 640px) {
  .ant-table td, .ant-table th {
    font-size: 11px;
  }
}


     @layer base {
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
          -moz-appearance: textfield !important;
        }
     }